body {
  /* background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/138/original/redtigerk-51iM389LEuI-unsplash.jpg?1705621336"); */
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/140/original/pexels-samuel-walker-92340.jpg?1705621467");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}
header,
footer {
  padding: 10px;
  background-color: white;
  opacity: 0.9;
  border-radius: 30px;
  margin-bottom: 10px;
  box-shadow: 2px 3px 2px 1px rgba(27, 71, 141, 0.1);
}
h1 {
  text-align: center;
  font-weight: 800;
  font-size: 39px;
  line-height: 1.5;
  color: #398491;
}
h2 {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  color: #398491;
  margin-bottom: 30px;
}
form {
  display: flex;
}
.form-section {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
  opacity: 0.9;
  box-shadow: 2px 3px 2px 1px rgba(27, 71, 141, 0.1);
}
.example-input {
  font-size: 12px;
  margin: 13px;
  opacity: 0.7;
}
.input-searchbar {
  padding: 16px;
  border: 1px solid #414042;
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
}
.submit-btn {
  margin-left: 10px;
  background: #549eab;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
  font-weight: 600;
}
.haiku {
  opacity: 0.9;
  padding: 20px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 10px;
  font-size: 18px;
  border-left: 3px solid #76c4d1;
  line-height: 1.5;
  box-shadow: 2px 3px 2px 1px rgba(27, 71, 141, 0.1);
}
footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}
a {
  /* color: #677beb; */
  color: #398491;
}
